@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons");
@import '~vuetify/dist/vuetify.min.css';

#canvas {
  max-height: 200px;
  width: 100%;
  border: 1px solid #DFDFDF;
}
